.vui-slider {
	position:relative;
	overflow:hidden;
	background:#999;
}
.vui-slider .vui-items {
	overflow:hidden;
	width:100%;
	height:100%;
}
.vui-slider .vui-item {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.vui-slider .vui-item a,
.vui-slider .vui-item img {
	display:block;
	padding:0;
	margin:0;
	border:none;
}
.vui-slider .vui-buttons {
	position:absolute;
	z-index:5;
	bottom:24px;
	left: 1080px !important;
	float:left;
	display:inline;
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
}
.vui-slider .vui-button {
	float:left;
	display: block;
	overflow:hidden;
	height:10px;
	width:10px;
	margin:0 5px;
	padding:0;
	border:2px solid #fff;
	border-color: rgba(255,255,255,0.3);
	border-radius:10px;
	background:rgba(0,0,0,0.4);
	cursor:pointer;
}
.vui-slider .vui-button-cur {
	background:rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
}
.vui-slider .vui-transfer {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:3;
}
.vui-slider .vui-prev {
	position:absolute;
	top:50%;
	left:234px;
	z-index:5;
	width:41px;
	height:69px;
	margin-top:-35px;
	border-radius:0 10px 10px 0;
	background:url(http://c1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -84px 50% no-repeat;
	cursor:pointer;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	opacity:0.3;
	transition:0.5s ease;
	-o-transition:0.5s ease;
	-webkit-transition:0.5s ease;
}
.vui-slider .vui-next {
	position:absolute;
	top:50%;
	right:0;
	z-index:5;
	width:41px;
	height:69px;
	margin-top:-35px;
	border-radius:10px 0 0 10px;
	background:url(http://c1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -125px 50% no-repeat;
	cursor:pointer;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	opacity:0.3;
	transition:0.5s ease;
	-o-transition:0.5s ease;
	-webkit-transition:0.5s ease;
}
.vui-slider .vui-sidebutton-hover {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
	opacity:0.4;
	background-color:#000;
}